extends ../layouts/common.pug

block content
    h1.text-center.mb-3= question.content
    .text-center.mb-2= question.totalVote + " votes"
    .progress.mb-4
      .progress-bar(role='progressbar', style=`width:${likePercent}%`, aria-valuenow= likePercent, aria-valuemin='0', aria-valuemax='100')= likePercent + "%"
      .progress-bar.bg-danger(role='progressbar', style=`width:${dislikePercent}%`, aria-valuenow= dislikePercent, aria-valuemin='0', aria-valuemax='100')= dislikePercent + "%"

    .d-flex.justify-content-center    
        button.btn.btn-light.border.border-dark Câu hỏi khác
